/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* body css */

body {
    font-family: 'Poppins', sans-serif;
}


/*-----------------------
      Header css 
-------------------------*/

.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 630px;
    background-color: MediumSeaGreen;
    margin-bottom: 70px;
}

.menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-blogs {
    margin: 0 102px 0 0;
}

.header-title {
    width: 485px;
    height: 230px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.live-link {
    width: 173px;
    height: 44px;
    background-color: chocolate;
    padding: 10px 24px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}

.link-button:hover {
    transform: translate(60px, 0) scale(1.3) ;
}

.header-thumbnail img {
    width: 556.01px;
    height: 438px;
    border-radius: 10px;
    border-bottom-right-radius: 40px;
}

/*--------------------------
      main body css 
---------------------------*/

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.frames {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-bottom: 165px;
}

.blogs {
    width: 330px;
    height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.blog-info {
    margin-bottom: 33px;
}

.thumbnail img {
    width: 100%;
    height: 256px;
}

.blog-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.blog-intro {
    line-height: 26px;
    font-weight: normal;
    font-size: 16px;
    margin: 0 0;
}


/*----------------------
 highlights blog css 
 ------------------------*/


.high-frame {
    display: flex;
    align-items: center;
    margin-bottom: 158px;
}

.high-detail {
    width: 469px;
    height: 309px;
    margin-right: 66px;
}

.high-title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    margin-top: 0;
    margin-bottom: 8px;
}

.high-info {
    width: 404px;
    height: 113px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 24px;
}

.high-link {
    width: 173px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}

.fa-arrow-right {
    margin-left: 8px;
}

.high-thumbnail img {
    width: 567px;
    height: 427px;
}


/*----------------------
   footer css 
 ------------------------*/

footer {
    display: flex;
    width: 483.87px;
    height: 213px;
    margin-bottom: 63px;
}

.last-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fire-ball {
    margin-bottom: 20px;
}

.fire-ball img {
    width: 483.87px;
    height: 110px;
}

.icons {
    width: 170px;
    height: 32px;
    margin-bottom: 20px;
}

.icon-color {
    color: gray;
    margin-left: 16px;
}

.copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}


/*-----------------------
    media query css 
-------------------------*/



@media only screen and (max-width: 688px){
    .container {
        width: 100%;
    }

    .banner {
        height: auto;
        justify-content: normal;
    }

    .header-blogs {
        margin-bottom: 20px;
    }

    .header-thumbnail img {
        width: 100%;
    }

    .high-thumbnail img {
        width: 100%;
    }

    .menu {
        flex-direction: column;
        align-items: normal;
    }

    .frames {
        grid-template-columns: repeat(1, 1fr);
    }

    .high-frame {
        width: 100%;
        flex-direction: column;
        align-items: normal;
        margin-bottom: 40px;
    }

    .high-detail {
        padding: 5px;
    }

    .last-blog {
        transform: scale(.7);
    }
}

@media only screen and (min-width: 689px) and (max-width: 992px){
    .container {
        width: 100%;
    }

    .banner {
        height: auto;
        justify-content: normal;
    }

    .header-blogs {
        margin-bottom: 20px;
    }

    .header-thumbnail img {
        width: 100%;
    }

    .high-thumbnail img {
        width: 100%;
    }

    .menu {
        flex-direction: column;
        align-items: normal;
    }

    .frames {
        grid-template-columns: repeat(2, 1fr);
    }

    .high-frame {
        width: 100%;
        flex-direction: column;
        align-items: normal;
        margin-bottom: 40px;
    }

    .high-detail {
        padding: 5px;
    }

    .last-blog {
        transform: scale(.9);
    }
}